{% extends "layout.html" %}
{% block body %}
<section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                         <h2 class="text-white mb-5">Availability of "{{title}}" {{author}} book in various branches in Biblioteka Raczyńskich in Poznan:</h2>
                        <a class="btn btn-primary" href=" {{url_for('sign_up', title=title, author=author) }} " >Sign up for notification!</a>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Date of return</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for library, info in book_availability.items() %}
                                <tr>
                                    <td>{{ library }}</td>
                                    {% if info[0] == "Na półce" %}
                                        <td>Available</td>
                                    {% else %}
                                        <td>Rented</td>
                                    {% endif %}
                                    <td>{{ info[1] }}</td>

                                {% endfor %}
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </section>

{% endblock body %}
