{% extends "layout.html" %}
{% block body %}

{% if "Na półce" in date %}
  <h2>
    Hura!
      Książka <i> "{{title}}" </i> autora <i>{{author}}</i>  jest dostępna w bibliotece na Alejach Marcinkowskiego w Poznaniu.
    Zapraszamy do wypożyczalni!
  </h2>
{% elif date == [] %}
<h2>
  Niestety wygląda na to, że biblioteka na Alejach Marcinkowskiego nie posiada książki <i>{{title}}</i> autorstwa <i>{{author}}</i> .
  Może znajdziesz ją w innym linku.
</h2>
{% else %}

<h2>
    Niestety książka "{{title}}" nie jest obecnie dostępna. Powinna zostać zwrócona <i>{{date[0]}}</i>. Wpisz swój e-mail - wyślemy Ci powiadomienie, gdy książka będzie dostępna.
</h2>

<form method="post">
    {{email_form.hidden_tag()}}
    <p>
        {{ email_form.email(placeholder="Wpisz email") }}
        {{ email_form.submit() }}
    </p>
</form>

{% endif %}


{% endblock body %}
