{% extends "layout.html" %}
{% block body %}
 <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                     <h1 class="text-white mb-5">Usunąłeś swoją subskrypcję dla książki <i>{{title}}</i>. Mamy nadzieję, że udało Ci się ją zdobyć!</h1>
                    </div>
                </div>
            </div>
        </section>

{% endblock body %}
