{% extends "layout.html" %}
{% block body %}
<section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                        <h2 class="text-white mb-5">Lista książek w bibliotece:</h2>
                          <ul>
                          {% for book in books %}
                            <li><a class="text-white mb-5" href="{{ url_for('availability', book_title=book[0], book_author=book[1]) }}">{{ book[0] }}, {{ book[1] }}</a></li>
                          {% endfor %}
                          </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}
