{% extends "layout.html" %}
{% block body %}
<section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                        <h2 class="text-white mb-5">Twój e-mail został zarejestrowany. Poinformujemy Cię, kiedy książka zostanie zwrócona.</h2>
                    </div>
                </div>
            </div>
        </section>

{% endblock body %}