{% extends "layout.html" %}
{% block body %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Book Lovers</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Easily find your favorite books at Biblioteka Raczyńskich in Poznań</h2>
                        <a class="btn btn-primary" href="{{ url_for('search') }}">Search</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- O nas-->
        <section class="about-section text-center" id="onas">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Crafted for Book Lovers who cherish libraries and wish to access their favorite books at the earliest opportunity.</h2>
                        <p class="text-white-50">
                            Book Lovers is a website that allows you to borrow books from Poznań libraries. If the book you're looking for is unavailable, you can sign up for our subscription - we'll send you an email as soon as it becomes available!                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Wyszukaj-->
        <section class="projects-section bg-light" id="wyszukaj">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/man.jpg" alt="..." width="500" height="600"/></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Book Lovers - borrow and read exactly what you want</h4>
                            <p class="text-black-50 mb-0">Say goodbye to the daily hassle of checking book availability! Our site is designed for book enthusiasts like you, making it easier to get your hands on your next read.</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="../static/assets/img/demo-image-01.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Search</h4>
                                    <p class="mb-0 text-white-50">Simply type in a book title to instantly check its availability across Biblioteka Raczyńska branches.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="../static/assets/img/home-office.jpg" alt="..." width="620" height="400"/></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Sign up</h4>
                                    <p class="mb-0 text-white-50">If the book is currently checked out, simply subscribe by providing your email.</p>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Three-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="../static/assets/img/demo-image-02.jpg" alt="..." width="620" height="400"/></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Borrow</h4>
                                    <p class="mb-0 text-white-50">Relax and let us do the work! We'll send you a cheerful notification as soon as your book is back and ready for you.</p>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://github.com/rolczynska/BookLovers"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
{% endblock body %}
