<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookLovers</title>
</head>
<body>
    <section class="signup-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                        <h2 class="text-white mb-5">Hura! Książka <i> "{title}"  {author} </i> jest dostępna w bibliotece! Pośpiesz się i wypożycz ją, zanim ktoś Cię wyprzedzi!</h2>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>
