<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookLovers</title>
</head>
<body>
    <section class="signup-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                        <h2 class="text-white mb-5">Hura! Część Twoich książek jest dostępnych! </h2>

                        <ul>
                            {% for book, libraries in sorted_books.items() %}
                                <li>{{book}}, {{libraries}} </li>

                            {% endfor %}
                        </ul>

                        <h3 class="text-white mb-5">PS. Żebyś nie dostawał ciągle maili zostałeś automatycznie usunięty z subskrypcji powyższych książek</h3>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>
