<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookLovers</title>
</head>
<body>
    <section class="signup-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                        <h2 class="text-white mb-5">Zostałeś zarejestrowany do powiadomień. Kiedy książka <i>"{title}" </i> {author} pojawi się w bibliotece, wyślemy Ci powiadomienie.</h2>
                        <br>
                        <h2 class="text-white mb-5">Jeśli chcesz się wypisać z powiadomień o tej książce kliknij w  <a href='https://book-lovers-382216.lm.r.appspot.com/cancel_notify/{title}/{author}/{email}'>TEN LINK.</a></h2>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>
