{% extends "layout.html" %}
{% block body %}
       <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <br>
                      {% if searches %}
                        <h2 class="text-white mb-5">You are currently subscribed to notifications for these books:</h2>
                      <ul>
                        {% for search in searches %}
                          <li class="text-white mb-5 bigger-font">"{{search.title}}", {{search.author}}</li>
                          <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                     <tr>
                                        {% for library in search.libraries %}
                                            <td>{{ library }}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        {% endfor %}
                      </ul>
                      {% else %}
                        <h1 class="text-white mb-5 ">Looks like you haven't signed up for any book notifications yet. Dive in and search for your next great read!<br>
                        Wyszukaj książkę dla siebie</h1>
                        <a class="btn btn-primary" href="{{ url_for('search') }}">Search</a>

                      {% endif %}
                    </div>
                </div>
            </div>
        </section>



{% endblock body %}