{% extends "layout.html" %}
{% block body %}
<section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                         <h2 class="text-white mb-5">Wybierz biblioteki, do których chcesz się zapisać na subskrypcje książki "{{ book_title }}" {{ book_author }}:</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Adres</th>
                                    <th>Status</th>
                                    <th>Data zwrotu</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                                                            <span>{{ message }}</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form method="post">
                                {% for library, info in sign_up_libraries.items() %}
                                <tr>
                                    <td><input type="checkbox" name="checkbox" value="{{ library }}"></td>
                                    <td>{{ library }}</td>
                                    <td>{{ info[0] }}</td>
                                    <td>{{ info[1] }}</td>

                                {% endfor %}
                                </tr>


                        </table>
                        <br>
                        <h2 class="text-white mb-5">Wpisz swój e-mail:</h2>

                            {{email_form.hidden_tag()}}
                            <p>
                                {{ email_form.email(class_= "form-control", placeholder="Wpisz email") }}

                                <br>
                                {{ email_form.submit(class_="btn btn-primary") }}
                            </p>
                        </form>
                        </tbody>
                    </div>
                </div>
            </div>
        </section>

{% endblock body %}
